<div class="intro">
    
<header>
  <nav class="navbar navbar-static-top navbar-transparent">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Logo Make it Real" src="/assets/logo-white-1abc467f1ea3e07ee16572120a416414303a9391b88d1902fb10c8effac411ed.png" width="180"></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Programas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li class="program-menu-divider"><span>ONLINE</span></li>
              <li class="">
                <a href="/top">
                  <span class="icon-menu"><img src="/assets/full-stack-blue-d429811a79f3deeddd6ff719825183b5286f7d73693c00454f796a4581541bb7.png" alt="Full stack blue" height="28"></span>
                  <span class="text-menu">Top (Inmersivo)</span>
</a>              </li>
              <li class="">
                <a href="/full-stack-online">
                  <span class="icon-menu"><img src="/assets/full-stack-blue-d429811a79f3deeddd6ff719825183b5286f7d73693c00454f796a4581541bb7.png" alt="Full stack blue" height="28"></span>
                  <span class="text-menu">Full Stack (A tu ritmo)</span>
</a>              </li>
              <li role="separator" class="divider"></li>
              <li class="program-menu-divider"><span>FULL STACK PRESENCIAL</span></li>
              <li class="">
                <a href="/full-stack-bogota">
                  <span class="icon-menu"><img src="/assets/full-stack-red-36cf0ab988c0e5cfd11ac96686f68b605da79b201df317a47e6f1769eeea463c.png" alt="Full stack red" height="25"></span>
                  <span class="text-menu">Full Stack <strong>Bogotá</strong></span>
</a>              </li>
              <li class="">
                <a href="/full-stack-medellin">
                  <span class="icon-menu"><img src="/assets/full-stack-red-36cf0ab988c0e5cfd11ac96686f68b605da79b201df317a47e6f1769eeea463c.png" alt="Full stack red" height="25"></span>
                  <span class="text-menu">Full Stack <strong>Medellín</strong></span>
</a>              </li>
              <li class="">
                <a href="/full-stack-barranquilla">
                  <span class="icon-menu"><img src="/assets/full-stack-red-36cf0ab988c0e5cfd11ac96686f68b605da79b201df317a47e6f1769eeea463c.png" alt="Full stack red" height="25"></span>
                  <span class="text-menu">Full Stack <strong>Barranquilla</strong></span>
</a>              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Cursos <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li class="program-menu-divider"><span>MEDELLÍN</span></li>
              <li class="">
                <a href="/courses/react-redux/medellin">
                  <span class="icon icon-reactjs icon-menu" style="font-size: 22px; color: #5daecc; margin-left: 4px; margin-right: 3px; height: 35px;"></span>
                  <span class="text-menu">React y React Native</span>
</a>              </li>
            </ul>
          </li>
          <li class=""><a href="/makers">Alumnos</a></li>
          <li class=""><a href="/faq">FAQ</a></li>
          <li><a href="http://blog.makeitreal.camp/">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Ingresar</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</header>


    <div class="container tagline-wrapper">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="tagline">Conviértete en <br>Web Developer</h1>
          <h2 class="tagline-support">Programas online y presenciales de la más alta calidad con la guía y el apoyo de mentores experimentados</h2>
        </div>

        <a href="javascript:;" class="know-more scroll">Ver programas</a>
      </div>
    </div>
  </div>